<div layout="column" ng-cloak>
    <md-content flex layout-padding>
        <h2>Contact Information</h2>

        <div class="icon-line">
            <h3><i class="fa fa-phone" aria-hidden="true"></i>818-454-8611</h3>
            <h3><i class="fa fa-envelope" aria-hidden="true"></i><a ng-href="mailto:stevelarsen01@gmail.com?Subject=Introduction%20Requesst" target="_top">stevelarsen01@gmail.com</a></h3>
            <h3><i class="fa fa-github" aria-hidden="true"></i><a ng-href="https://github.com/SMLarsen">SMLarsen</a></h3>
            <h3><i class="fa fa-linkedin-square" aria-hidden="true"></i><a ng-href="https://www.linkedin.com/in/stevenmlarsen/">stevenmlarsen</a></h3>
            <h3><i class="fa fa-twitter" aria-hidden="true"></i>@SMLars</h3>
        </div>
    </md-content>
</div>
