<h1>Home</h1>
<div id="app"></div>
<div>

    <md-content>
        <md-button ng-href="#!/home" class="md-raised md-primary">Home</md-button>
        <md-button ng-href="#!/contact" class="md-raised md-primary">Contact</md-button>
        <md-button ng-href="#!/education" class="md-raised md-primary">Education</md-button>
        <md-button ng-href="#!/resume" class="md-raised md-primary">Resume</md-button>
        <md-button ng-href="#!/portfolio" class="md-raised md-primary">Portfolio</md-button>
    </md-content>
