<md-toolbar>
    <div class="md-toolbar-tools">
        <md-button ng-href="#!/home" class="md-raised md-primary">Home</md-button>
        <md-button ng-href="#!/resume"  md-ink-ripple="dark-orange" class="btn-long md-raised md-accent">Resume</md-button>
        <md-button ng-href="#!/portfolio"  md-ink-ripple="dark-orange" class="btn-long md-raised md-accent">Portfolio</md-button>
        <md-button ng-href="#!/contact"  md-ink-ripple="dark-orange" class="btn-long md-raised md-accent">Contact</md-button>
        <md-button ng-href="#!/education"  md-ink-ripple="dark-orange" class="btn-long md-raised md-accent">Education</md-button>

        <span flex></span>
        <a href="https://github.com/SMLarsen"><i style="font-size: 1.5em;" class="fa fa-github" aria-hidden="true"></i></a>
        <a href="https://www.linkedin.com/in/stevenmlarsen/"><i style="font-size: 1.5em; padding-left: 10px;" class="fa fa-linkedin-square" aria-hidden="true"></i></a>
    </div>
</md-toolbar>
