<div class="md-padding view-content" layout="column" ng-cloak>
    <md-content flex layout-padding>
        <div layout="row">
            <div flex="40">
                <h2>Resume</h2>
            </div>
            <div class="icon-line" id="resume-download-box" flex="50" md-colors="{background: 'primary'}">
                <h3><i class="fa fa-download line-start-icon" aria-hidden="true" md-colors="{color: 'accent'}"></i><a ng-href="../assets/Larsen-Steven-(Resume)-2-17.pdf">Download Steve's Current Resume</a></h3>
            </div>
        </div>
        <hr>
        <!-- <div layout="row">
            <div flex="20">
                <div id="resume-tale">
                    <h3>A Tale of Three Resumes</h3>
                    <p>We can see the evolution of my resume from applying to Prime to the 4th week of classroom study.</p>
                </div>
            </div>
            <div flex="80">
                <md-list flex flex-offset="5" flex="85" md-padding>
                    <md-list-item class="md-3-line" ng-href="https://primeacademy.io/">
                        <div flex="35" layout="row" layout-align="center">
                            <img class="thumbnail" ng-src="../assets/resume3.png" alt="Resume 3" />
                        </div>
                        <div class="md-list-item-text" layout="column">
                            <h3>Final Prime Version</h3>
                            <h4>Assigned at the end of week 4 in the classroom</h4>
                            <p>HTML, CSS, jQuery, Git</p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line" ng-href="https://carlsonschool.umn.edu/">
                        <div flex="35" layout="row" layout-align="center">
                            <img class="thumbnail" ng-src="../assets/resume2.png" alt="Resume 2" />
                        </div>
                        <div class="md-list-item-text" layout="column">
                            <h3>Pre-study Version</h3>
                            <h4>Assigned at the end of week 6 of program pre-study</h4>
                            <p>HTML, CSS, Bootstrap, Git</p>
                        </div>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item class="md-3-line" ng-href="https://www.macalester.edu">
                        <div flex="35" layout="row" layout-align="center">
                            <img class="thumbnail" ng-src="../assets/resume1.png" alt="Resume1" />
                        </div>
                        <div class="md-list-item-text" layout="column">
                            <h3>Prime Application Version</h3>
                            <h4>Required as part of the application process.</h4>
                            <p>HTML, CSS, Git</p>
                        </div>
                    </md-list-item>
                </md-list>
            </div>
        </div> -->


    </md-content>
</div>
